<html>
  <head>
    <%= stylesheet_links %>
    <style>
      body { padding: 30px 0; }
      #readme { width: 914px; margin: 0 auto; }
    </style>
  </head>
  <body>
    <div id="readme">
      <article class="markdown-body">
        <%%= content %>
      </article>
    </div>
  </body>
</html>
